@import "abstract/variables";

.customer {
  display: flex;

  &__left--col {
    padding-right: 5rem;
    height: 85rem;
    overflow-y: auto;
    border-right: 0.1rem solid $color-grey-100;
  }

  &__right--col {
    width: 100%;
    height: 100%;
  }
}
.customer__product-type {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

#customer-sub-domain {
  margin-right: 0.5rem;
}

.fa-angle-double-right{
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
