// @import "abstract/mixins";
// @import "abstract/variables";

@import "../../assets/scss/abstract/mixins";
@import "../../assets/scss/abstract/variables";

.app__pagination {
  @include flex-center;

  .app__pagination--wrapper {
    @include flex-center;
    width: 28rem;
    max-width: 28rem;
    font-size: 1.5rem;

    a.app__pagination--item {
      &.app__pagination--item-active {
        background-color: $color-info;
        color: $color-white-100;
        font-weight: bold;
        cursor: default;
        border-radius: 0.4rem;

        &:hover {
          background-color: $color-info;
          color: $color-white-100;
        }
      }

      @include flex-center;
      width: 4rem;
      height: 3.5rem;
      color: $color-grey-900;

      &:hover {
        background-color: $color-grey-100;
      }

      i {
        line-height: 0;
        font-size: 1rem;
      }
    }
  }
}
