// @import "abstract/variables";
@import "../../../assets/scss/abstract/variables";

.app__toast {
  font-size: 1.3rem;
  font-weight: 900;
  width: 100%;

  &.app__toast--grey {
    background-color: $color-grey-1000;
    color: rgba($color-white-100, $alpha: 0.9);
  }

  .app__toast--left-col {
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .app__toast--right-col {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.2rem;
    transition: color 0.3s linear;

    &:hover {
      color: $color-white-100;
    }
  }
}
