// @import "abstract/variables";
@import "../../../../assets/scss/abstract/variables";
.app__data--search-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: $ff-heading-regular;

  .app__data--search-icon-primary {
    font-size: 1.5rem;
    color: $color-grey-700;
    line-height: 0;
  }

  .app__data--search-input-wrapper {
    position: relative;
    width: 0;
    opacity: 0;
    transition: width 0.4s ease-out;

    &.app__data--search-input-wrapper-show {
      width: 23rem;
      opacity: 1;
    }

    .app__data--search-icon {
      position: absolute;
      font-size: 1.2rem;
      color: $color-grey-700;
      top: 1rem;
      left: 0.6rem;
    }

    input[type="search"].app__data--search-input {
      padding-left: 2.2rem;
      width: 100%;
    }
  }
}
