@import "abstract/variables";
@import "layouts/listing/listing";
.text__icon {
    --dimension: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 50%;
    font-family: "Roboto-Bold";
    font-size: 1.3rem;
  }
.page-header {
  font-family: "poppins-medium";
  font-size: 2rem;
}

.item-header {
  margin-left: 10rem;
}

.button {
  margin: 1rem;
}


