@import "abstract/variables";


.btn__dropdown--menu-container {
    position: absolute;
    background-color: $color-white-100;
    border: 0.1rem solid $color-grey-200;
    min-height: auto;
    min-width: 100%;
    z-index: 10;

    button {
        border-radius: 0.4rem;
    }
  }