@import "abstract/mixins";
@import "abstract/variables";

.checkbox-radio-list {
  padding: 1rem;
  border-radius: 0.5rem;

  .row {
    gap: 2rem;
    width: 100%;

    &__left--col,
    &__right--col {
      height: 15rem;
      width: 100%;
      overflow: auto;
    }

    &__left--col {
      border-right: 0.1rem solid $color-grey-200;
    }

    &__right--col {
      i {
        color: $color-grey-500;
        &:hover {
          color: $color-grey-1000;
        }
      }
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 1.3rem;
  }
}
