@import "abstract/variables";

.dropdown__search--selected-wrapper {
    border: 0.1rem solid $color-grey-100;
    background-color: $color-white-600;
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 0.6rem 1rem;
    margin-left: 1.5rem;
  
    span.dropdown__search--selected-title {
      min-width: 15rem;
      max-width: 15rem;
      font-size: 1.2rem;
    }
  
    select.dropdown__search--selected-relationship {
      min-width: 15rem;
      max-width: 15rem;
    }
  
    i {
      color: $color-grey-600;
      &:hover {
        color: $color-info;
      }
    }
  }