// @import "abstract/variables";
@import "../../../assets/scss/abstract/variables";
.app__dropdown {
  background-color: $color-white-100;
  padding: 1rem;
  border: 1px solid $color-grey-200;
  border-radius: 0.4rem;
  position: relative;
  width: auto;

  .app__dropdown--icon-left {
    font-size: 0.9rem;
  }

  .app__dropdown--title {
    font-size: 1.2rem;
    color: $color-grey-800;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul.app__dropdown-menu-list {
    position: absolute;
    background-color: $color-white-100;
    white-space: nowrap;
    min-width: 100%;
    z-index: 10;
    left: 0;
    top: 3.1rem;
    border: 1px solid $color-grey-200;
    opacity: 0;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;

    li {
      &.divider {
        border-top: 1px solid $color-grey-200;
      }

      color: $color-grey-900;

      div.app__dropdown--form {
        padding: 1rem;
        font-size: 1.3rem;
        width: 100%;
        transition: all 0.3s ease;

        &:hover {
          background-color: $color-info;
          color: $color-white-100;
        }

        label.app__dropdown--form {
          width: 100%;
        }
      }
    }
  }
}
