@import "abstract/variables";

.btn__dropdown--menu-container {
  position: absolute;
  background-color: $color-white-100;
  border: 0.1rem solid $color-grey-200;
  min-height: auto;
  min-width: 100%;
  z-index: 10;

  ul.btn__dropdown--menu-items {
    li a {
      padding: 1rem 1rem;
      display: inline-block;
      color: $color-grey-1000;
      width: 100%;
      font-size: 1.1rem;

      &:hover {
        background-color: $color-white-400;
      }
    }
  }
}
