@import "abstract/variables";

.icon__folder--wrapper {
  display: flex;
  align-items: center;
  color: $color-grey-700;
  font-size: 1.2rem;

  .icon__folder--caret {
    color: $color-grey-900;
    display: inline-block;
  }

  i.icon__folder {
    color: $color-orange;
  }
}
