@import "../../../assets/scss/abstract/variables";

.dropdown__search--wrapper {
  border-radius: 0.4rem;

  .dropdown__search--select {
    padding: 1rem 0.6rem;
    font-size: 1.2rem;
    font-family: $ff-regular;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown__search--options {
    margin-top: 0.5rem;

    .dropdown__search--search-box {
      position: relative;
      padding: 1rem 0.6rem;

      i.dropdown__search--icon {
        position: absolute;
        top: 2rem;
        right: 1.5rem;
        font-size: 1.2rem;
      }
    }

    ul.dropdown__search--option {
      li {
        padding: 1rem 0.6rem;
        cursor: pointer;
        font-size: 1.2rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          font-family: "Roboto-Regular";
        }
      }
    }
  }
}


