@import "abstract/variables";
@import "abstract/mixins";

.app__item--account--wrapper {
  @include flex-center;

  .app__item--news-notification-card {
    width: 100%;
    height: 95vh;
  }

  .app__item--title {
    font-family: $ff-heading-regular;
    display: inline-block;
    font-size: 1.8rem;
    margin: 1rem 1rem 0 1rem;
  }

  .app__item--customer {
    width: fit-content;
    border: 0.19rem solid #b1b7c1;
    padding: 0.3rem;
    border-radius: 0.4rem;
  }

  .app__item--description {
    font-family: $ff-heading-regular;
    font-size: 1.4rem;
    margin: 1rem 1rem 1rem 1.2rem;
  }

  .app__item--body {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      margin: 1.5rem;
      height: 50vh;

      .app__item--markdown {
          margin: 0.5rem;
          width: 50%;

          .app__item--markdown-heading {
              font-size: 1.4rem;
          }
          .app__item--markdown-content {
            height: 100%;
            margin: 0.2rem;

            textarea {
              height: 100%;
            }
        }
      }

      .app__item--preview{
        margin: 0.5rem;
        width: 50%;

        .app__item--preview-heading{
          padding-left: 0.7rem;
          font-size: 1.4rem;
        }

        .app__item--preview-content{
          height: 100%;
          border: 0.5px solid $color-grey-200;
          border-radius: 0.4rem;
          padding: 1rem;
          margin: 0.2rem;
        }
      }
  }

  .app__item--link-heading{
    margin: 4rem 2rem 2rem 2rem;
    font-size: 1.5rem;
  }

 .app__item--send{
   margin: 2.5rem 2rem 2rem 2rem;
   display: flex;
   font-size: 1.5rem;

   .app__item--send-heading{
     margin: 1rem 1rem 1rem 0;
   }
   
   select {
     width: 30vw;
   }

   .app__item--send-button {
    margin: 0rem 2rem 2rem 2rem;
   }
 }

  .app__item--navigation-items {
    display: flex;
    margin-bottom: 2rem;
  }
  .app__item--navigation-item {
    font-family: $ff-heading-regular;
    font-size: 1.2rem;
    color: $color-grey-900;
    margin: 1rem 1rem 0 1rem;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      color: darken($color-info, 25%);
    }
  }
}
.app__data--is-active {
  color: darken($color-info, 25%);
}
