@import "../../../assets/scss/abstract/variables";

.properties {
  display: flex;

  &__left--col {
    padding-right: 5rem;
    height: 85rem;
    overflow-y: auto;
    border-right: 0.1rem solid $color-grey-100;
  }

  &__right--col {
    width: 100%;
    height: 100%;
  }
}

.input-flex {
  margin: 0.5rem;
  display: flex;

  .input-items {
    margin: 0.3rem;
  }

  .flex-item{
    margin-right: 1rem;
  }
}
