@import "abstract/variables";

.search__fluid--wrapper {
  position: relative;
  height: 4rem;

  i.fas.fa-search {
    position: absolute;
    color: $color-grey-300;
    font-size: 1.4rem;
    left: 1rem;
    top: 1.6rem;
  }

  input {
    padding-left: 3rem;
    height: 4.5rem;
    font-size: 1.4rem;
  }
}
